* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a:link {
  text-decoration: none;
}

.container1 {
  margin: 0 auto;
  max-width: 1440px;
}

#navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

#navbar.hide {
  top: -125px;
}

.primary-nav {
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 44px;
  padding: 0 105px 0 90px;
}

.menu-nav {
  display: none;
}

.primary-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  height: 22px;
}

.primary-nav ul:nth-child(1) {
  width: 30em;
}

.primary-nav ul:nth-child(2) {
  margin-top: 6px;
}

.item {
  padding: 0 10px;
}

.item-1, .item-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #bbbbbb;
}

.item-1, .item-2, .item-3 {
  font-weight: 600;
}

.item-1 {
  width: 8.3em;
}

.item-2 {
  width: 6.8em;
}

.item-1:hover img, .item-2:hover img {
  -webkit-filter: invert(46%) sepia(63%) saturate(5633%) hue-rotate(191deg) brightness(99%) contrast(96%);
          filter: invert(46%) sepia(63%) saturate(5633%) hue-rotate(191deg) brightness(99%) contrast(96%);
}

.item-3 {
  margin-top: -3px;
}

.primary-nav .item-4 {
  font-size: 13px;
}

.item-5 {
  margin-left: 20px;
}

.fa-map-marker-alt {
  margin-right: 5px;
}

.primary-nav a {
  color: #00095b;
  font-size: 12px;
  letter-spacing: 1.5px;
}

.primary-nav a:hover {
  color: #0685f5;
}

.mustang, .bronco {
  width: 100%;
}

.mustang-txt, .bronco-txt {
  margin-left: 10px;
}

.hamburg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.primary-nav .hamburg {
  margin-top: 8px;
  display: none;
}

.primary-nav .hamburg:hover {
  color: black;
}

.hamburg img {
  width: 2em;
}

.menu {
  display: block;
  font-size: 9px;
  font-weight: 400;
  margin-top: 3px;
  letter-spacing: .1px;
}

.ford-contain {
  padding: 10px;
  margin-right: 10px;
}

.ford-logo {
  background-image: url(../img/Ford_logo_flat.svg);
  height: 60px;
  width: 125px;
  background-size: 95px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.secondary-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 75px;
  -webkit-box-shadow: 0px 3px 4px -1px #303030;
          box-shadow: 0px 3px 4px -1px #303030;
  background-color: white;
}

.secondary-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 26px;
}

.secondary-nav li {
  margin-right: 32px;
  text-align: center;
}

.secondary-nav a {
  color: #00095b;
  font-weight: 600;
  font-size: 13.2px;
  letter-spacing: 2px;
}

.secondary-nav a:hover {
  color: #0685f5;
}

.fa-user {
  margin-right: 8px;
  font-size: 12px;
}

.secondary-nav .personal {
  font-size: 11.5px;
}

.secondary-nav .personal-1 {
  margin-left: 50px;
}

.carousel {
  padding-top: 125px;
}

.carousel .container1 {
  height: 620px;
  background-image: url(../img/carousel.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 35px 95px;
}

.carousel .content {
  height: 550px;
  cursor: pointer;
}

.carousel .content h1, .carousel .content a {
  color: white;
}

.carousel h1 {
  font-size: 48px;
  margin-bottom: 13px;
}

.carousel .content a {
  font-weight: 500;
  font-size: 18px;
  position: relative;
}

.carousel .content a:hover {
  text-decoration: underline;
  color: white;
  cursor: pointer;
}

.carousel .fa-angle-right {
  font-size: 11px;
  color: black;
  width: 16px;
  height: 16px;
  line-height: 16px;
  padding-left: 6px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  margin-left: 10px;
}

.pick-up {
  text-align: center;
  padding: 50px 0 70px;
  color: #00095b;
}

.pickup-img:hover, .pickup-content h1, .pickup-content p:nth-child(1) {
  cursor: pointer;
}

.pick-up .container1 > h1 {
  font-size: 64px;
  margin-bottom: 40px;
}

.pop-up {
  position: relative;
  padding: 50px 55px;
  text-align: left;
  border: 2px solid #000;
  color: grey;
  position: absolute;
  background-color: white;
  width: 400px;
  left: -180px;
  top: -200px;
  display: none;
}

.popup-img {
  position: absolute;
  right: 15px;
  top: 20px;
  padding: 20px;
  border: 1px solid #0685f5;
  cursor: pointer;
}

.popup-img:hover {
  border: none;
}

.pickup-img {
  background-image: url(../img/vehicle.webp);
  min-width: 100%;
  height: 180px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -45px;
  background-color: #f0f0f0;
}

.pickup-item {
  width: 27%;
  margin: 0 auto;
  position: relative;
  -webkit-box-shadow: 1px 10px 15px 1px #e2e2e2;
          box-shadow: 1px 10px 15px 1px #e2e2e2;
}

.pickup-content {
  text-align: left;
  padding: 15px 15px 0;
}

.pickup-content p:nth-child(1) {
  margin: 0;
  font-size: 22px;
  line-height: 1;
}

.pickup-content h1 {
  font-size: 26px;
  font-weight: bold;
}

.price {
  display: inline-block;
  font-size: 22px;
  color: #424242;
  cursor: context-menu;
}

.num-click {
  position: relative;
  top: -10px;
  right: 3px;
  font-size: 10px;
  font-weight: bold;
  color: #0685f5;
  cursor: pointer;
}

.pickup-overview {
  padding: 20px 0;
}

.pickup-btn {
  background-color: #00095b;
  color: white;
  font-size: 20px;
  padding: 8px 25px 9px;
  border-style: none;
  border-radius: 2em;
  margin-bottom: 30px;
  -webkit-box-shadow: 1px 2px 6px #858585;
          box-shadow: 1px 2px 6px #858585;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.pickup-btn:hover {
  background-color: blue;
  padding: 9px 35px 10px;
  -webkit-box-shadow: 1px 4px 6px #858585;
          box-shadow: 1px 4px 6px #858585;
}

.pickup-offer {
  font-size: 20px;
}

.pickup-offer .fa-angle-right {
  color: white;
  font-size: 12px;
  background-color: #00095b;
  width: 17px;
  height: 17px;
  padding-top: 2.5px;
  border-radius: 50%;
  position: relative;
  top: -2px;
}

.pickup-offer:hover {
  color: blue;
  cursor: pointer;
}

.pickup-offer:hover .fa-angle-right {
  background-color: blue;
}

.video {
  text-align: center;
}

.video-container {
  position: relative;
  width: 85%;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.ford-img {
  position: absolute;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
}

.ford-video {
  width: 100%;
}

.video .fa-play {
  font-size: 30px;
  color: white;
  background-color: rgba(39, 40, 58, 0.753);
  padding: 40px;
  border-radius: 50%;
  position: absolute;
  z-index: 11;
  left: 50%;
  top: 40%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.video-container:hover .ford-img, .video-container:hover .ford-video, .video-container:hover .fa-play {
  cursor: pointer;
}

.video-container:hover .fa-play {
  background-color: #0685f5;
}

.video-content {
  padding: 40px 0;
  width: 85%;
  margin: 0 auto;
  background-color: #f2f2f2;
  -webkit-box-shadow: 1px 8px 13px 1px #e2e2e2;
          box-shadow: 1px 8px 13px 1px #e2e2e2;
}

.video-content h1 {
  color: #00095b;
  font-size: 30px;
}

.video-content p {
  width: 66%;
  font-size: 19px;
  letter-spacing: 1.5px;
  margin: 0 auto 35px;
  line-height: 1.3;
}

.video-content button {
  font-size: 18px;
  color: white;
  padding: 8px 30px;
  background-color: #00095b;
  border-style: none;
  border-radius: 2em;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.video-content button:hover {
  background-color: blue;
  padding: 9px 42px;
}

.all-vehicles {
  text-align: center;
  padding: 90px 50px 60px;
}

.all-vehicles h1 {
  font-size: 40px;
  color: #00095b;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.all-vehicles p {
  color: #4d4d4d;
  font-size: 18px;
  letter-spacing: .8px;
  margin-bottom: 30px;
}

.all-vehicles button {
  font-size: 19px;
  padding: 7px 65px;
  border-style: none;
  color: white;
  background-color: #00095b;
  border-radius: 2em;
  -webkit-box-shadow: .5px 5px 5px #bebebe;
          box-shadow: .5px 5px 5px #bebebe;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.all-vehicles button:hover {
  background-color: blue;
  padding: 7px 75px;
}

.all-vehicles img {
  width: 100%;
}

.billboards {
  text-align: center;
}

.billboards:hover {
  cursor: pointer;
}

.billboard-470 {
  display: none;
}

.billboards-header {
  position: relative;
}

.billboard-1440 {
  width: 100%;
}

.billboards-content {
  position: absolute;
  top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%;
}

.billboards-content h1 {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 45px;
  text-shadow: 1px 0px #b3b3b3;
}

.billboards-content p {
  font-size: 18px;
  text-shadow: 2px 0px #c4c4c4;
}

.billboards-content .fa-angle-right {
  font-size: 20px;
  margin-left: 15px;
}

.latest {
  text-align: center;
}

.latest-content {
  background-image: url(../img/bb-new.webp);
  height: 240px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.latest-content h1, .latest-content p {
  color: white;
}

.latest-content h1 {
  font-size: 65px;
  padding-top: 60px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.latest-content p {
  font-size: 20px;
  letter-spacing: 2px;
}

.billboards-img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 270px 270px 270px 270px;
      grid-template-rows: 270px 270px 270px 270px;
}

.items {
  position: relative;
  overflow: hidden;
}

.items:hover .img-1, .items:hover .img-2, .items:hover .img-3, .items:hover .img-4, .items:hover .img-5, .items:hover .img-6 {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.img-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(2, 4, 114, 0.877);
}

.img-info h1 {
  margin: 0;
  padding-left: 20px;
  text-align: left;
  font-size: 17px;
  color: white;
  letter-spacing: 1px;
  font-weight: 400;
}

.i-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/ span 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/ span 2;
}

.i-6 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/span 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/span 2;
}

.img-1, .img-2, .img-3, .img-4, .img-5, .img-6 {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.img-1 {
  background-image: url(../img/1.webp);
}

.img-2 {
  background-image: url(../img/2.webp);
}

.img-3 {
  background-image: url(../img/3.jpeg);
}

.img-4 {
  background-image: url(../img/4.webp);
}

.img-5 {
  background-image: url(../img/5.webp);
}

.img-6 {
  background-image: url(../img/6.webp);
}

.airbag {
  padding: 60px 0 90px;
  background-color: #f7f7f7;
}

.airbag h1 {
  color: #d92e14;
  font-weight: 400;
  letter-spacing: 1.5px;
  margin-bottom: 30px;
}

.airbag button {
  padding: 8px 70px;
  border-style: none;
  background-color: #00095b;
  color: white;
  font-size: 18px;
  border-radius: 2em;
  -webkit-box-shadow: 1px 3px 10px #999999;
          box-shadow: 1px 3px 10px #999999;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.airbag button:hover {
  background-color: blue;
  padding: 10px 76px;
  -webkit-box-shadow: 1px 4px 10px #858484;
          box-shadow: 1px 4px 10px #858484;
}

.disclosures {
  text-align: center;
}

.btn-disclosures {
  padding: 50px 40px;
  margin-bottom: 0;
}

.card-body p {
  text-align: left;
  background-color: #f7f7f7;
}

.btn-disclosures a {
  color: #0276b3;
  font-size: 17px;
}

.btn-disclosures a:hover {
  color: black;
}

.residents-header {
  text-align: center;
  background-color: #00142e;
  padding: 40px 0 25px;
}

.residents-header h1, .residents-header p {
  color: white;
}

.residents-header h1 {
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 1px;
}

.residents-header p {
  font-size: 18px;
}

.residents-header span {
  color: gray;
  border-bottom: 1px solid #0276b3;
  cursor: pointer;
}

.residents-header button {
  color: #00095b;
  border-style: none;
  padding: 8px 40px;
  font-size: 18px;
  border-radius: 2em;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.residents-header button:hover {
  padding: 9px 55px;
}

.residents-nav {
  background-color: #00095b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 35px 100px 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.residents-nav input {
  border: 1px solid white;
  border-radius: .2em;
}

.residents-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.drop-down {
  display: none;
}

.explore li {
  margin-left: 20px;
  color: white;
  font-size: 20px;
}

.explore li:first-child {
  font-weight: bold;
}

.explore li:nth-child(2), .explore li:nth-child(3), .explore li:last-child {
  cursor: pointer;
}

.residents-main {
  background-color: #00142e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 35px 100px;
}

.edit {
  font-size: 10px;
}

.inventory:hover .edit {
  color: white;
}

.residents-main h1 {
  color: white;
  font-weight: 400;
  font-size: 19px;
  letter-spacing: 1px;
  margin-bottom: 25px;
}

.residents-main p {
  color: gray;
  margin-bottom: 0;
  font-weight: 500;
  letter-spacing: 1.2px;
  cursor: pointer;
}

.footer {
  background-color: #f7f7f7;
}

.footer-first, .footer-second {
  padding: 30px 100px;
}

.footer-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-icon {
  background-color: #00095b;
  color: white;
  font-size: 18px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding-left: 11px;
  border-radius: 50%;
  margin-right: 15px;
}

.footer-first div:first-child a {
  color: #00095b;
  margin-right: 15px;
  font-size: 18px;
  text-decoration: underline;
  letter-spacing: 1px;
}

.footer-first div:last-child ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.follow {
  padding-top: 5px;
  margin-right: 20px;
  font-size: 20px;
}

.fa-facebook-f, .fa-twitter, .fa-youtube, .fa-instagram {
  color: white;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 5px;
}

.fa-facebook-f {
  background-color: #5071aa;
  padding-left: 14px;
}

.fa-twitter {
  background-color: #68c6e1;
  padding-left: 13px;
}

.fa-youtube {
  background-color: #cd332d;
  padding-left: 11px;
}

.fa-instagram {
  background-color: #8600c2;
  padding-left: 13px;
}

.footer-second div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-second div:first-child i {
  font-size: 25px;
  margin-right: 10px;
}

.footer-second div:first-child a {
  font-size: 18px;
  color: #00095b;
  text-decoration: underline;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.footer-second div:last-child {
  margin-top: 16px;
}

.footer-second div:last-child p {
  font-size: 13px;
  display: inline-block;
  margin: 0 20px 0 0;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 1440px) {
  .secondary-nav ul {
    margin-top: 15px;
  }
}

@media screen and (max-width: 1200px) {
  .primary-nav {
    padding: 0 50px 0 10px;
  }
  .secondary-nav {
    padding-left: 30px;
  }
  .secondary-nav ul {
    margin-top: 18px;
    padding-left: 0;
  }
  .secondary-nav .personal-1 {
    margin-left: 10px;
  }
  .secondary-nav li {
    margin-right: 20px;
  }
  .ford-logo {
    height: 85px;
  }
  .ford-contain {
    margin-right: 0;
    padding: 0;
  }
}

@media screen and (max-width: 992px) {
  .billboard-1440 {
    display: none;
  }
  .billboard-470 {
    display: block;
    width: 100%;
  }
  .billboards-img {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (270px)[6];
        grid-template-rows: repeat(6, 270px);
  }
  .i-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/ span 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/ span 1;
  }
  .i-2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/ span 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/ span 1;
  }
  .i-3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/ span 1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/ span 1;
  }
  .i-4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/ span 1;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/ span 1;
  }
  .i-5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/ span 1;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/ span 1;
  }
  .i-6 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/ span 1;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/ span 1;
  }
  .primary-nav {
    display: none;
  }
  .carousel {
    padding-top: 80px;
  }
  .secondary-nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .secondary-nav ul {
    display: none;
  }
  .menu-nav {
    display: block;
    margin: 25px 30px 0 0;
  }
  .menu-nav img {
    width: 35px;
  }
  .menu-nav p {
    padding-left: 2px;
    font-size: 12px;
    margin-top: 5px;
  }
  .carousel .container1 {
    height: 800px;
    text-align: center;
  }
  .carousel h1 {
    font-size: 60px;
  }
  .carousel .content a {
    font-size: 22px;
  }
  .carousel .content {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  .residents-nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .search-box {
    margin-top: 40px;
  }
  .disappear {
    display: none;
  }
  .drop-down {
    display: block;
  }
  .drop-down h1 {
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    position: relative;
    width: 150%;
  }
  .drop-down i {
    position: absolute;
    right: 0;
  }
  .residents-main {
    padding: 35px 35px 30px;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .shipping-tools {
    margin: 0 90px 0 30px;
  }
  .footer-first, .footer-second {
    padding: 30px 50px;
  }
  .footer-second div:last-child p {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .residents-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .explore {
    margin-top: 30px;
    margin-left: -45px;
  }
  .residents-nav {
    padding: 10px 20px;
  }
  .shipping-tools {
    display: none;
  }
  .residents-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .drop-down {
    margin-top: 30px;
  }
  .drop-down h1 {
    width: 100%;
  }
  .footer-first {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-first div:last-child ul {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-top: 30px;
    margin-left: -30px;
  }
}
/*# sourceMappingURL=styles.css.map */